body {
    background:linear-gradient(
        rgba(0, 0, 0, 0.911),
        rgba(0, 0, 0, 0.3)
    ),url('https://plus.unsplash.com/premium_photo-1673474112205-037558e54995?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZWFydGglMjBmcm9tJTIwc3BhY2V8ZW58MHx8MHx8fDA%3D');
    background-size: cover;
    font-family: "Roboto", sans-serif;
    color: #3f3080;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  .weather-app {
    background: rgba(255, 252, 252, 0.192); 
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  }
  
  a {
    color: #885df1;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover,
  a:focus {
    color: #6123cc;
    outline: none;
  }
  header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;
  }
  
  .search-input {
    background-color: #0000 ;
    border: none;
    color: #dd849f;
    font-size: 16px;
    padding: 20px;
    width: 75%;
    border-radius: 6px;
  }
  
  .search-button {
    margin-left: 5px;
    font-size: 16px;
    background-color: #463179;
    color: white;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 5px;
  }
  
  main {
    padding: 30px 0;
  }
  
  .current-temperature {
    font-size: 48px;
  }
  
  .current-weather {
    display: flex;
    justify-content: space-between;
  }
  
  .current-city {
    font-size: 38px;
    font-weight: 900;
    margin: 0;
  }
  .current-details {
    color: rgb(2, 1, 10);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .current-details strong {
    color: #dd849f;
  }
  
  .current-temperature-icon {
    position: relative;
    top: -8px;
    font-size: 40px;
    margin-right: 10px;
  }
  
  .current-temperature-value {
    font-size: 80px;
    font-weight: bold;
  }
  
  .current-temperature-unit {
    font-size: 28px;
    position: relative;
    top: -38px;
  }
  
  footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    padding-top: 15px;
  
    color: rgba(21, 9, 54, 0.808);
  }
  .current-temperature img {
    width: 80px; 
    height: auto;
  }